apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    
    deleteDatasources:
      - name: Loki
        orgId: 1
      - name: Prometheus
        orgId: 1

    datasources:
      - name: Loki
        type: loki
        uid: loki
        access: proxy
        url: http://loki-service.monitoring.svc.cluster.local:3100
        basicAuth: false
        isDefault: true
        editable: true
        jsonData:
          maxLines: 1000
      
      - name: Prometheus
        type: prometheus
        uid: prometheus
        access: proxy
        url: http://prom-kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        basicAuth: false
        isDefault: false
        editable: false

  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: Default
        orgId: 1
        folder: Applications
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: false
