apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        uid: loki
        access: proxy
        url: http://loki-service.monitoring.svc.cluster.local:3100
        basicAuth: false
        isDefault: true
        editable: true
        jsonData:
          maxLines: 1000

  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: Default
        orgId: 1
        folder: Applications
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: false
