apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: spot-app-config
    namespace: spot
    files:
      - ../../../config/common.yml
      - ../../../config/kafka-topics.yml
      - ../../../config/spot-gateway.yml
      - ../../../config/spot-user.yml
      - ../../../config/spot-store.yml
      - ../../../config/spot-order.yml
      - ../../../config/spot-payment.yml
    options:
      disableNameSuffixHash: true

secretGenerator:
  - name: spot-secrets
    namespace: spot
    envs:
      - ../../../.env
    options:
      disableNameSuffixHash: true

generatorOptions:
  disableNameSuffixHash: true
