apiVersion: apps/v1
kind: Deployment
metadata:
  name: spot-gateway
  namespace: spot
  labels:
    app: spot-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spot-gateway
  template:
    metadata:
      labels:
        app: spot-gateway
    spec:
      containers:
        - name: spot-gateway
          image: spot-registry.localhost:5111/spot-gateway:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"
            - name: LOGGING_CONFIG
              value: "classpath:logback-spring.xml"
          envFrom:
            - secretRef:
                name: spot-secrets
          volumeMounts:
            - name: app-config
              mountPath: /config
              readOnly: true
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "800m"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 5
      volumes:
        - name: app-config
          configMap:
            name: spot-app-config
---
apiVersion: v1
kind: Service
metadata:
  name: spot-gateway
  namespace: spot
spec:
  type: ClusterIP
  selector:
    app: spot-gateway
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP