apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluent-bit-service
  namespace: monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: fluent-bit-read
rules:
  - apiGroups: [""]
    resources:
      - namespaces
      - pods
      - nodes
      - nodes/proxy
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: fluent-bit-read
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: fluent-bit-read
subjects:
  - kind: ServiceAccount
    name: fluent-bit-service
    namespace: monitoring
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit-daemon
  namespace: monitoring
  labels:
    app: fluent-bit
spec:
  selector:
    matchLabels:
      app: fluent-bit
  template:
    metadata:
      labels:
        app: fluent-bit
    spec:
      serviceAccountName: fluent-bit-service
      containers:
        - name: fluent-bit
          image: fluent/fluent-bit:2.2.2
          ports:
            - containerPort: 2020
          volumeMounts:
            - name: varlogcontainers
              mountPath: /var/log/containers
              readOnly: true

            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true

            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true

            - name: fluent-bit-config
              mountPath: /fluent-bit/etc/fluent-bit.conf
              subPath: fluent-bit.conf

            - name: fluent-bit-config
              mountPath: /fluent-bit/etc/parsers.conf
              subPath: parsers.conf


            - name: fluentbit-db
              mountPath: /fluent-bit/tail

          resources:
            requests:
              cpu: "10m"
              memory: "25Mi"
            limits:
              cpu: "100m"
              memory: "100Mi"
      volumes:
        - name: varlogcontainers
          hostPath:
            path: /var/log/containers

        - name: varlogpods
          hostPath:
            path: /var/log/pods

        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers

        - name: fluent-bit-config
          configMap:
            name: fluent-bit-config

        - name: fluentbit-db
          hostPath:
            path: /var/lib/fluent-bit
            type: DirectoryOrCreate

---
