apiVersion: kafka.strimzi.io/v1
kind: KafkaConnect
metadata:
  name: spot-connect
  namespace: spot
  annotations:
    strimzi.io/use-connector-resources: "true"
spec:
  version: 4.0.0
  replicas: 1 # 2
  bootstrapServers: spot-cluster-kafka-bootstrap:9092
  image: spot-registry.localhost:5111/spot-connect-custom:latest
  
  groupId: spot-connect-group
  configStorageTopic: connect_configs
  offsetStorageTopic: connect_offsets
  statusStorageTopic: connect_status
  
  config:
    config.storage.replication.factor: 1  # 3
    offset.storage.replication.factor: 1  # 3
    status.storage.replication.factor: 1  # 3
    
    key.converter: org.apache.kafka.connect.json.JsonConverter
    value.converter: org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable: false
    value.converter.schemas.enable: false
    config.providers: env
    config.providers.env.class: org.apache.kafka.common.config.provider.EnvVarConfigProvider
    log.level: WARN

  template:
    pod:
      enableServiceLinks: false
    connectContainer:
      env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: spot-secrets
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: spot-secrets
              key: DB_NAME
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: spot-secrets
              key: SPRING_DATASOURCE_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: spot-secrets
              key: SPRING_DATASOURCE_PASSWORD

  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"