apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-connect-init
  namespace: spot
spec:
  ttlSecondsAfterFinished: 60 # 해당 job 성공 후 60초 뒤에 pod 자동 삭제
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: kafka-connect-init
          image: curlimages/curl:latest
          env:
            - name: CONNECT_URL
              value: "http://kafka-connect-svc:8083"
          envFrom:
            - secretRef:
                name: spot-secrets
          command: ["/bin/sh"]
          args: ["/configs/register-connectors.sh"]
          volumeMounts:
            - name: config-volume
              mountPath: /configs
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "64Mi"
              cpu: "50m"
      volumes:
        - name: config-volume
          configMap:
            name: kafka-connect-init-config