apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: spot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:latest
          ports:
            - containerPort: 8080
          env:
            - name: SERVER_SERVLET_CONTEXT_PATH
              value: '/kafka-ui'
            - name: KAFKA_CLUSTERS_0_NAME
              value: local-spot-cluster
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: 'kafka:9092'
            - name: KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME
              value: connect
            - name: KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS
              value: 'http://kafka-connect-svc:8083'
            - name: LOGGING_LEVEL_ROOT
              value: WARN
            - name: LOGGING_LEVEL_COM_PROVECTUS
              value: WARN
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui-svc
  namespace: spot
spec:
  type: ClusterIP
  selector:
    app: kafka-ui
  ports:
    - port: 80
      targetPort: 8080