apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: spot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:latest
          ports:
            - containerPort: 8080
          env:
            - name: KAFKA_CLUSTERS_0_NAME
              value: spot-cluster
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: 'spot-cluster-kafka-bootstrap:9092'
            
            - name: KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME
              value: "spot-connect"
            - name: KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS
              value: "http://spot-connect-connect-api.spot.svc:8083"
            - name: KAFKA_CLUSTERS_0_KAFKACONNECT_0_TYPE
              value: "kafka-connect"

            - name: LOGGING_LEVEL_ROOT
              value: WARN
            - name: LOGGING_LEVEL_COM_PROVECTUS
              value: WARN
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui-svc
  namespace: spot
spec:
  type: ClusterIP
  selector:
    app: kafka-ui
  ports:
    - port: 80
      targetPort: 8080