# prometheus용 helm
grafana:
  enabled: false   # 이미 Grafana 따로 쓰고 있으니까 OFF

alertmanager:
  enabled: true

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

    # retention 설정 (튜닝 가능)
    retention: 10d

    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
