apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# namespace: spot 제거 - 각 리소스가 자체 네임스페이스 유지

resources:
  - base/namespace.yaml
  - base/configmap.yaml
  - base/postgres.yaml
  - base/redis.yaml
  - base/kafka.yaml
  - base/monitoring/loki/loki.yaml
  - base/monitoring/loki/loki-config.yaml
  - base/monitoring/monitoring-ingress.yaml
  - base/monitoring/grafana/grafana.yaml
  - base/monitoring/grafana/grafana-config.yaml
  - base/monitoring/fluent-bit/fluent-bit.yaml
  - base/monitoring/fluent-bit/fluent-bit-config.yaml
  - base/monitoring/servicemonitors/spot-gateway-servicemonitor.yaml
  - base/monitoring/servicemonitors/spot-user-servicemonitor.yaml
  - base/monitoring/servicemonitors/spot-order-servicemonitor.yaml
  - base/monitoring/servicemonitors/spot-store-servicemonitor.yaml
  - base/monitoring/servicemonitors/spot-payment-servicemonitor.yaml
  - apps/spot-ingress.yaml
  - apps/spot-gateway.yaml
  - apps/spot-user.yaml
  - apps/spot-store.yaml
  - apps/spot-order.yaml
  - apps/spot-payment.yaml

# config 디렉토리의 yml 파일들을 ConfigMap으로 생성
configMapGenerator:
  - name: spot-app-config
    namespace: spot
    files:
      - ../../config/common.yml
      - ../../config/kafka-topics.yml
      - ../../config/spot-gateway.yml
      - ../../config/spot-user.yml
      - ../../config/spot-store.yml
      - ../../config/spot-order.yml
      - ../../config/spot-payment.yml
    options:
      disableNameSuffixHash: true
  - name: grafana-dashboards-spot
    namespace: monitoring
    files:
      - base/monitoring/grafana/dashboards/spot-logs.json

  - name: grafana-dashboards-9578
    namespace: monitoring
    files:
      - base/monitoring/grafana/dashboards/9578.json

  - name: grafana-dashboards-15760
    namespace: monitoring
    files:
      - base/monitoring/grafana/dashboards/15760.json

  - name: grafana-dashboards-15757
    namespace: monitoring
    files:
      - base/monitoring/grafana/dashboards/15757.json

  - name: grafana-dashboards-15661
    namespace: monitoring
    files:
      - base/monitoring/grafana/dashboards/15661.json

secretGenerator:
  - name: spot-secrets
    namespace: spot
    envs:
      - ../../.env
    options:
      disableNameSuffixHash: true


generatorOptions:
  disableNameSuffixHash: true