apiVersion: v1
kind: ConfigMap
metadata:
  name: spot-common-config
  namespace: spot
data:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/myapp_db"
  SPRING_DATASOURCE_USERNAME: "admin"
  SPRING_DATA_REDIS_HOST: "redis"
  SPRING_DATA_REDIS_PORT: "6379"
  KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
---
apiVersion: v1
kind: Secret
metadata:
  name: monitoring-secrets
  namespace: monitoring
type: Opaque
stringData:
  GF_SECURITY_ADMIN_USER: "spot"
  GF_SECURITY_ADMIN_PASSWORD: "spot-grafana"
---
