apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Base
  - ./namespace.yaml
  - ./configmap.yaml

  # Kafka
  - ./kafka/kafka.yaml
  - ./kafka/kafka-nodepool.yml
  - ./kafka/kafka-connect.yaml
  - ./kafka/connectors.yaml
  - ./kafka/kafka-ui.yaml
  - ./kafka/allow-kafka-ui-netpol.yaml
  - ./kafka/kafka-ingress.yaml

  # Temporal
  - ./temporal/temporal.yaml
  - ./temporal/temporal-ui.yaml

configMapGenerator:
  - name: kafka-connect-init-config
    namespace: spot-kafka
    files:
      - ../../../connectors/order-outbox.json
      - ../../../connectors/payment-outbox.json
      - ../../../connectors/register-connectors.sh
    options:
      disableNameSuffixHash: true

secretGenerator:
  - name: spot-secrets
    namespace: spot
    envs:
      - ../../../.env
    options:
      disableNameSuffixHash: true
  - name: spot-secrets
    namespace: spot-kafka
    envs:
      - ../../../.env
    options:
      disableNameSuffixHash: true

generatorOptions:
  disableNameSuffixHash: true
